.recipe-link {
  text-decoration: none;
  color: #333;
  letter-spacing: 1px;
  text-align: center;
  background-color: #f0f0f0;
  margin: 7vh;
  align-self: center;
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: #ffffff;
}

.recipe-link img {
  width: 100%;
}

.recipe-link span {
  background-color: #ffffff;
  margin: 2vh;
}

.recipe-link:hover {
  text-decoration: none;
  color: #6c6b6b;
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  transform: scale(1.1, 1.1);
  transition: 0.5s ease;
}

.overlay {
  background-color: #ffffff;
  width: 100%;
  margin: 4vh;
}

.recipe-name {
  font-size: 20px;
}

.ratingStars {
  padding-bottom: 2vh;
}

@media screen and (max-width: 1224px) {
  .recipe-link {
    grid-template-columns: repeat(3, minmax(300px, 1fr));
  }
}

@media screen and (max-width: 968px) {
  .recipe-link {
    grid-template-columns: repeat(2, minmax(300px, 1fr));
  }
}

@media screen and (max-width: 640px) {
  .recipe-link {
    grid-template-columns: repeat(1, minmax(300px, 1fr));
  }
}
