.recipe-link {
  text-decoration: none;
  color: #333;
  letter-spacing: 1px;
  display: grid;
  grid-template-columns: repeat(4, minmax(300px, 1fr));
  text-align: center;
  background-color: #f0f0f0;
}

.recipe-link a {
  flex-direction: column;
  margin: 30px;
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: #ffffff;
}

.recipe-link a img {
  width: 100%;
}

.recipe-link span {
  background-color: #ffffff;
  margin: 2vh;
}

.recipe-link a:hover {
  text-decoration: none;
  color: #6c6b6b;
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  transform: scale(1.1, 1.1);
}

.recipe-name {
  font-size: 18px;
}

.ratingStars {
  padding-bottom: 2vh;
}

@media screen and (max-width: 1224px) {
  .recipe-link {
    grid-template-columns: repeat(3, minmax(300px, 1fr));
  }
}

@media screen and (max-width: 968px) {
  .recipe-link {
    grid-template-columns: repeat(2, minmax(300px, 1fr));
  }
}

@media screen and (max-width: 640px) {
  .recipe-link {
    grid-template-columns: repeat(1, minmax(300px, 1fr));
  }
}
