.recipe-link {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

.recipe-link a {
  flex-direction: column;
  margin: 20px;
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: #ffffff;
}

.recipe-link span {
  background-color: #ffffff;
  margin: 3vh;
}

.recipe-link a:hover {
  text-decoration: none;
  color: #6c6b6b;
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.recipe-name {
  font-size: 18px;
}
