body {
  background-color: #f0f0f0;
  color: #333;
  font-family:
    Arial narrow,
    Helvetica,
    sans-serif;
  margin: 0%;
}

.main-page #logo {
  max-width: 140px;
  max-height: 90px;
  padding: 0vh 10vh;
}

#headerImg {
  width: 85vh;
  margin: 0px;
}

.nav {
  background-color: #d1b396;
  z-index: 10000;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #545151;
}

.header p {
  font-size: 20pt;
  margin-bottom: 10vh;
  color: #f0f0f0;
  letter-spacing: 5px;
}

.header #headerDiv {
  margin: 7%;
}

.search div img {
  max-width: 3vh;
}

.search div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #d2b9aa;
  border-radius: 1vh;
  padding: 10px 15px;
  border: none;
  width: 30vh;
}

.Dropdown-control {
  background-color: #d2b9aa;
  border-radius: 1vh;
  padding: 10px 15px;
  border: none;
  width: 30vh;
}

.Dropdown-menu {
  background-color: #eedfd6;
  border: none;
  width: 30vh;
}

.Dropdown-control:hover {
  background-color: #bfa695;
}

.container {
  text-align: center;
  margin: 50px;
  display: flex;
  border: #857c7c;
  border-style: solid hidden hidden hidden;
}

#containerHeader {
  display: flex;
  margin: 10vh 10vh;
  justify-content: space-between;
}

#containerBody p {
  font-size: 20pt;
}

.container #containerBody {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10vh;
}

.filter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0vh 10vh;
}

@media screen and (max-width: 1224px) {
  .header .search {
    margin: 0%;
  }
}

@media screen and (max-width: 1024px) {
  #headerImg {
    display: none;
  }

  .header {
    padding-bottom: 20vh;
    flex-direction: column-reverse;
  }

  .header .search {
    margin-left: 25vh;
  }

  .container #containerBody {
    margin-left: 0vh;
    align-items: center;
  }
  .main-page #logo {
    max-width: 110px;
    max-height: 70px;
    padding: 1vh 2vh;
  }
}

@media screen and (max-width: 640px) {
  .header {
    padding-bottom: 20vh;
    flex-direction: column-reverse;
  }

  .search {
    margin: 0vh;
  }

  .recipe-link {
    margin: 0;
  }
}
