/* Styles for MainPage component */

body {
  background-color: #f0f0f0;
  color: #333;
  font-family: Arial, sans-serif;
}

.main-page {
  max-width: 173vh;
  margin: auto;
}

.main-page h1 {
  font-size: 2.5rem;
  font-weight: 100;
  margin-bottom: 50px;
}

.container {
  text-align: center;
}

.recipe-link {
  text-decoration: none;
  font-weight: bold;
}

.filterAndSearch {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 20px;
  align-items: center;
}

.filterAndSearch input[type='text'] {
  width: 60%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.filterAndSearch input[type='text']:focus {
  outline: none;
  border: 1px solid #aaa;
}
.filterAndSearch .react-dropdown-select {
  width: 30%;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .filterAndSearch {
    flex-direction: column;
    width: 100%;
  }

  .filterAndSearch input[type='text'] {
    width: 80%;
    margin-bottom: 10px;
  }

  .filterAndSearch .react-dropdown-select {
    width: 100%;
  }
}
