/* MainPage.module.css */

/* Styles for MainPage component */

.container {
  text-align: center;
  font-family: Arial, sans-serif;
  color: #333;
}

.recipe-link {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.main-page {
  max-width: 1000px;
  margin: 0 auto;
}

.main-page h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.main-page .recipe-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

.main-page ul {
  list-style-type: none;
}

.main-page .recipe-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.main-page .recipe-card:hover {
  transform: scale(1.05);
}

.filterAndSearch {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 20px;
  align-items: center;
}

.filterAndSearch input[type='text'] {
  width: 60%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.filterAndSearch input[type='text']:focus {
  outline: none;
  border: 1px solid #aaa;
}
.filterAndSearch .react-dropdown-select {
  width: 30%;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .filterAndSearch {
    flex-direction: column;
    width: 100%;
  }

  .filterAndSearch input[type='text'] {
    width: 80%;
    margin-bottom: 10px;
  }

  .filterAndSearch .react-dropdown-select {
    width: 100%;
  }
}
