.search-bar {
  width: 100%;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1.2rem;
  color: #333;
  font-weight: 100;
  border: none;
}

.search-bar-container {
  display: flex;
  border: none;
  border-radius: 1vh;
}

.searchBar:focus {
  outline: none;
  border: none;
}

.search-bar::placeholder {
  color: #333;
  opacity: 0.5;
}

.search img {
  background-color: rgba(235, 13, 13, 0);
  border-radius: 1vh;
  border: none;
  padding: 1vh;
  max-width: 3vh;
}

.search:hover {
  background-color: #d2baaa26;
}
